* {
	margin:0px;
	padding:0px
}
h1,h2,h3,h4,h5 {
	font-family: 'Helvetica Neue';
	font-weight: 300;
}
body {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	background-color: #ecf0f1;
}
#header
{
	background-color:#ecf10e1;
	padding:12px;
	overflow:auto;
	color:#e54450;
	text-align: center;
}
#main
{ 
	padding: 10px;
}
#main label , #footer a{

font-size: 22px;
text-decoration: none;
	line-height: 1.47em;
}
#main .text{
	font-size: xx-large;
}
#main .content .desc{
	padding-top:20px;
	/*width: 52%;
    margin-left: 24%;*/
	width: 278px;
	  display: inline-flex;
}
#footer
{
	padding-top: 20px;
	background-color:#727272;
	clear:both;
	text-align: center;
	color: #ecf0f1;
	height:329px;
}
#footer-buttons
{
    font-family: HelveticaNeueCyr-Thin;
	padding:8px;
}
#footer-buttons img
{
	margin-left:15px;
	margin-right:15px;
}
#footer-buttons a
{
    font-size: 22px;
	color: #ecf0f1;
	margin-left:15px;
	margin-right:15px;
}
#footer-buttons.icons a {
	margin: 0;
}

#article,#sidebar{min-height:20px;margin-bottom:20px;overflow:auto}
.content{padding:10px; text-align:center;}
.content .text{
	color:white;
}

ul{list-style:none;width:100%}
li{padding:4px;margin-bottom:5px;background-color:#ffffcc;text-align:center;color:#000}

.background-images{
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
}
#footer hr
{
	width: 90%;
	margin-left:5%;
	text-align: center;
}
.shadow
{
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,.1) inset;
}
.red-label{
	color:red;
}
  @font-face {
  font-family: HelveticaNeueCyr-Thin;
  src: url(fonts/HelveticaNeueCyr-Thin.otf);
}

@media only screen and (min-width: 180px) {
	.full-screen-image
	{
		display:none;
	}
	.iPhoneImage
	{
		height: 340px;
	}

	.WatchImage
	{
		height: 175px;
	}
	.content{
	  font-family: HelveticaNeueCyr-Thin;
		padding: 0px;
	}
	.eyeImage{
	height: 100px;
	}
	#main
	{
		padding:30px 10px 0px 10px;
	}
	#mobile-image{}
}



@media only screen and (min-width: 768px) {
	#footer  #article , #footer  #sidebar 
	{width:49%
	}
	#footer{
	height: 270px;
	}
	.iPhoneImage
	{
		height: 376px;
	}

	.WatchImage
	{
		height: 220px;
	}

	#footer #sidebar .content{
		text-align:left;
	}

	#footer #article .content{
		text-align:right;
	}

	#mobile-image
	{
		display:none;
	}
	.full-screen-image
	{
		display:inline;
	}
	.background-images #article, .background-images #sidebar
	{
		text-align:center;
	}
	.about #article {
		float:left;
		width:70%;
	}

	.about  #sidebar
	{
		float:right;
		width:30%;
	}

	.about #article  .content, .about  #sidebar .content
	{
		text-align:left;
	}
		.eyeImage{
	height: 124px;
	}

	#article
	{
		float:left;
		width:50%;
	}

	#sidebar
	{
		float:right;
		width:50%;
	}
	#logo
	{
		width:100%;
	}
	#nav
	{
		float:right;
		width:80%;
	}
	ul{float:right}
	li{float:left;width:17%;padding:4px;margin-right:8px}
	#main
	{
		padding:40px 30px 20px 30px;
		display: inline-block;
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
	}
	#footer hr
	{
		width: 70%;
		margin-left:15%;
		text-align: center;
	}

}

@media only screen and (min-width: 1140px) {
	#mobile-image
	{
		display:none;
	}
	
	.iPhoneImage
	{
		height: 497px;
	}

	.WatchImage
	{
		height: 270px;
	}
			.eyeImage{
	height: 160px;
	}
	#main
	{
		padding:40px 40px 20px 40px;
		padding-left: 10%;
		padding-right: 10%;
		width: 80%;
		display: inline-block;
	}
	#footer hr
	{
		width: 70%;
		margin-left:15%;
		text-align: center;
	}

}